<aside class="sidebar">
    <div class="sidebar-header">
        <h3>Admin</h3>
    </div>
    <nav class="sidebar-nav">
        <a routerLink="/dashboard" class="nav-link active">Produtos</a>
        <a href="#" class="nav-link">Pedidos</a>
        <a href="/home" class="nav-link">Home</a>
        <a href="/pelucia" class="nav-link">Pelúcia</a>
        <a href="/tcg" class="nav-link">TCG</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </nav>
    <div class="sidebar-footer">
        <a (click)="logout()" class="nav-link logout-link">Sair</a>
    </div>
</aside>